@import 'mixins';

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  color: #fff;
  min-height: 100vh;
  background: linear-gradient(45deg, #b4b4b4 35%, #1f1f1f 35%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  @include flex-center;
}

h1 {
  font-size: 48px;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 6px 5px 4px #1f1f1f;
}

form {
  @include flex-center;
  height: 50px;
  width: 100%;
  .input-bar.add {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .input-bar.edit {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  input {
    transition: 300ms;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 60%;
    padding: 5px 10px;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
  }
  .input-bar.edit input {
    width: 100%;
  }
  button {
    all: unset;
    transition: 150ms;
    cursor: pointer;
    width: 50px;
    padding: 5px;
    color: #000;
    background: #808080;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 2px solid #1f1f1f60;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
    &:active {
      background: #1f1f1f80;
    }
    &:active > .fa-plus {
      height: 50%;
    }
    .fa-plus {
      transition: 100ms;
      width: 100%;
      height: 60%;
      color: #57db48;
    }
    &:active > .fa-pen {
      height: 50%;
    }
    .fa-pen {
      transition: 100ms;
      width: 100%;
      height: 60%;
      color: gold;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: auto;
  margin: 1rem;
  padding: 2rem;
  border-radius: 15px;
  background: #444444;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 1px solid #80808050;
}

.todo-row {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0;
  padding: 1rem;
  font-weight: 600;
  color: #57db48;
  background-image: linear-gradient(#1f1f1f50, #00000050);
  border: 1px solid #1f1f1f;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
  &__icons {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
}

.no-tasks {
  @include flex-center($align-items: center);
  flex-direction: column;
  margin: 1rem 1rem 0 1rem;
  img {
    max-height: 100px;
    margin-top: 5px;
  }
}
